<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    {% load rest_framework %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Add Team</title>
</head>
<body>
    <table id="content" align="center">
        <tr>
            <th>
                <h1>Add Team</h1>
            </th>
        </tr>
        <tr>
            <th>
                <form method="POST">
                    {% csrf_token %}
                    {% render_form serializer %}
                    <button type="submit" class="btn btn-default" style="margin-left:75px">Save</button>
                </form>
            </th>
        </tr>
    </table>
    <a href="/"><p>All teams</p></a>
    <hr />
</body>
</html>
